# Run when commits are pushed to main
on:
  workflow_dispatch:
  push:
    # Run when commits are pushed to mainline branch (main or master)
    # Set this to the mainline branch you are using
    branches:
      - main

# Set up permissions for deploying with secretless Azure federated credentials
# https://learn.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#set-up-azure-login-with-openid-connect-authentication
permissions:
  id-token: write
  contents: read


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      AZURE_AZURE_OPENAI_DEPLOYMENT_NAME: ${{ vars.AZURE_AZURE_OPENAI_DEPLOYMENT_NAME }}
      AZURE_AZURE_OPENAI_ENDPOINT: ${{ vars.AZURE_AZURE_OPENAI_ENDPOINT }}
      AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install azd
        uses: Azure/setup-azd@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Log in with Azure (Federated Credentials)
        run: |
          azd auth login `
            --client-id "$Env:AZURE_CLIENT_ID" `
            --federated-credential-provider "github" `
            --tenant-id "$Env:AZURE_TENANT_ID"
        shell: pwsh

      - name: Provision Infrastructure (azd)
        run: azd provision --no-prompt
        working-directory: mcpODataReporting.AppHost
        env:
          AZURE_REPORTING_DB: ${{ secrets.AZURE_REPORTING_DB }}

      - name: Deploy Application (azd)
        run: azd deploy --no-prompt
        working-directory: mcpODataReporting.AppHost
        env:
          AZURE_REPORTING_DB: ${{ secrets.AZURE_REPORTING_DB }}
